body {
color:white;
background: palevioletred;
margin: 0px;
font-family: "Satisfy", cursive;
}


header {
    border-bottom: solid 3px rgb(198, 11, 42);
    padding: 20px;
    font-size: 32px;
    color:rgb(110, 20, 35);
}


.chamada {
    background: rgb(105, 28, 105);
 padding-bottom: 50px;
 padding-top: 50px;
 display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
padding-left: 20px;
padding-right: 20px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

