body {
color:white;
background: palevioletred;
margin: 0px;
}


header {
    border-bottom: solid 3px rgb(198, 11, 42);
    padding: 20px;
    font-size: 32px;
    color:rgb(223, 20, 54);
}


section {
    background: rgb(197, 53, 197);
}
