body {
color:white;
background: palevioletred;
margin: 0px;
font-family: "Satisfy", cursive;
}


header {
    border-bottom: solid 3px rgb(198, 11, 42);
    padding: 20px;
    font-size: 32px;
    color:rgb(110, 20, 35);
}


section {
    background: rgb(105, 28, 105);
 padding-bottom: 50px;
 padding-top: 50px;
 display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}
